@model EquipamentoDTO

<div class="container-fluid">
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
            <dd>@Html.DisplayFor(model => model.Nome)</dd>

            <dt>@Html.DisplayNameFor(model => model.Inventario)</dt>
            <dd>@Html.DisplayFor(model => model.Inventario)</dd>

            <dt>@Html.DisplayNameFor(model => model.Hostname)</dt>
            <dd>@Html.DisplayFor(model => model.Hostname)</dd>

            <dt>@Html.DisplayNameFor(model => model.SerialNumber)</dt>
            <dd>@Html.DisplayFor(model => model.SerialNumber)</dd>

            <dt>@Html.DisplayNameFor(Model => Model.FabricanteDto.Nome)</dt>
            <dd>@Html.DisplayFor(model => model.FabricanteDto.Nome)</dd>

            <dt>@Html.DisplayNameFor(model => model.TipoEquipamentoDto.Descricao)</dt>
            <dd>@Html.DisplayFor(model => model.TipoEquipamentoDto.Descricao)</dd>

            <dt>@Html.DisplayNameFor(model => model.AtualizadoEm)</dt>
            <dd>@Html.DisplayFor(model => model.AtualizadoEm)</dd>

            <dt>@Html.DisplayNameFor(model => model.UsuarioInsercao)</dt>
            <dd>@Html.DisplayFor(model => model.UsuarioInsercao)</dd>
        </dl>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
    </div>
</div>